<ion-view title="Ayuda" id="page7">
  <ion-content padding="true" class="has-header">
    <p>
      <iframe width="100%" height="230" src="https://www.youtube.com/embed/-IRBaGeclxk" frameborder="0" allowfullscreen=""></iframe>
    </p>
    <a ui-sref="menu.preguntasFrecuentes()" id="ayuda-button6" style="text-align:left;border-radius:4px 4px 4px 4px;" class="button button-dark button-block icon-left ion-help-circled">&nbsp;&nbsp;Preguntas Frecuentes</a>
    <a ng-click="openChat()" id="ayuda-button7" style="text-align:left;" class="button button-dark button-block icon-left ion-chatbox-working">&nbsp;&nbsp;Chat</a>
    <a ui-sref="menu.enviarMensaje()" id="ayuda-button8" style="text-align:left;" class="button button-dark button-block icon-left ion-email-unread">&nbsp;&nbsp;Enviar un mensaje</a>
    <a ui-sref="menu.quieroQuEmeLlamen()" id="ayuda-button9" style="text-align:left;" class="button button-dark button-block icon-left ion-android-call">&nbsp;&nbsp;Quiero que me llamen</a>
  </ion-content>
</ion-view>