<ion-view title="" hide-back-button="true" nav-transition="none" id="page5" style="background-color:#E4E4E4;">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 16px;"></div>
    <div id="bienvenid-container3" class="avatar">
      <center><div style="background:#474747; width:100px; height:100px;color:white;border-radius:50%;"  >
        <p style="padding-top:40px;font-size:30px;">
            {{ bienvenido.nombre[0] | uppercase }}{{ bienvenido.apellido[0] | uppercase }}
        </p>
      </div></center>
    </div>
    <h4 id="bienvenid-heading3" style="color:#4D4D4D;text-align:center;">{{ bienvenido.nombre | uppercase }} {{ bienvenido.apellido | uppercase }}</h4>
    <div id="bienvenid-markdown12" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#B4B4B4;font-size:14px;">C.C. {{ bienvenido.cedula | number }}</p>
    </div>
    <button id="bienvenid-button11" ng-click="go_misReclamos()" style="font-size:14px;border-radius:6px 6px 6px 6px;" class="button button-positive button-block icon-left ion-alert-circled">Mis Reclamos</button>
    <!--button id="bienvenid-button25" ng-click="go_misPolizas()" style="font-size:14px;border-radius:6px 6px 6px 6px;" class="button button-dark button-block icon-left ion-android-lock">Mis Pólizas</button-->
    <a ui-sref="menu.ayuda()" id="bienvenid-button12" ng-click="go_ayuda()" style="font-size:14px;border-radius:4px 4px 4px 4px;" class="button button-light button-block icon-left ion-help-circled">Ayuda / FAQ</a>
    <div class="spacer" style="width: 300px; height: 28px;"></div>
    <div>
      <img src="img/2gMnuRGERYyMHai3JACb_cl.png" style="display: block; width: 250px; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>