<ion-view title="" cache-view="false" id="page14">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="caso1402-card24">
      <h2 id="caso1402-heading4" style="color:#444444;font-weight:600;text-align:center;">Estado Caso # {{ reclamos.reclamoid |number }}</h2>
      <div class="item item-body" id="caso1402-list-item-container8">
        <div id="caso1402-markdown17" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Estado:
            <strong>{{ reclamos.estados_poliza.nombre }}</strong>
          </p>
        </div>
      </div>
    </div>
    <h4 style="color:#444444;text-align:center;font-size: 12px;">Notificaciones del reclamo</h4>
    <ion-list ng-repeat="notificacion in notificaciones track by $index ">
        <div style="width: 90%;border:1px solid #dbdbdb;padding: 10px;margin:10px;color:#000000">
            <strong>Texto:</strong> {{ notificacion.texto }}<br>
            <strong>Fecha Creado:</strong> {{ notificacion.created_at }}<br>
        </div>      
    </ion-list>
  </ion-content>
</ion-view>