<ion-view title="Chat" id="page22">
  <ion-content padding="false" scroll="false" class="has-header" >
    <ion-scroll id="chat-container1" class="top-container" scroll-glue>
        <ion-list id="chat-list12"  ng-repeat="historial in historiales track by $index">

          <div ng-if="historial.sender == message.sender ">
              <div class="sender" >
                  <p>{{ historial.message }}</p>
                  <small style="font-size:9px;">{{ historial.state }} {{ historial.created_at }} </small>
                </div>
          </div>

          <div ng-if="historial.sender != message.sender ">
              <div class="receptor">
                  <p>{{ historial.message }}</p>
                  <small style="font-size:9px;">{{ historial.state }} {{ historial.created_at }} </small>
              </div> 
          </div>

        </ion-list>
    </ion-scroll>
    <form id="chat-form10" class="list bottom-form"  ng-submit="addMessage()">
      <label class="item item-input" id="chat-input20">
        <span class="input-label">Mensaje</span>
        <input type="text" placeholder="" ng-model="message.message">
      </label>
      <button id="chat-button30" style="border-radius:0px 0px 0px 0px;" class="button button-positive button-block" ng-click="addmessage()">ENVIAR</button>
    </form>
  </ion-content>
</ion-view>
<style type="text/css">
    .top-container{
        height: calc(100% - 96px);
        overflow:scroll;
    }
    .receptor{
      float: left;
      width: 50%;
      border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;
background: #666666;
color: white;
padding: 10px;
margin:10px; 
    }

    .sender{
      float: right;
      width: 50%;
      border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;
background: #ededed;
color: #666666;
padding: 10px;
margin:10px; 
    }
  </style>

