<ion-view title="Checklist" hide-back-button="true" nav-transition="none" id="page18" style="background-color:#ECECEC;">
  <ion-content padding="true" class="manual-remove-top-padding has-header">
    <div class="spacer" style="width: 320px; height: 14px;"></div>
    <div id="checklist-markdown27" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#3B3B3B;font-size:15px;">Realice las siquientes
        <strong>acciones,</strong> una vez esten
        <strong>todas verificadas</strong> (marcadas con el ícono verde) puede realizar el proceso de
        <strong>reclamación.</strong>
      </p>
    </div>
    <!--repeat lista de chequeo-->
    <ion-list id="checklist-list11" ng-repeat="list in listas track by $index">
       <!-- IF la lista de chequeo no es de un reclamo en especifico -->
      <ion-list ng-if=" list.reclamo == 0 ">


          <!-- IF la lista pertenece a camara -->
          <div ng-if=" list.tipo == 'camara' ">
              <ion-item class="item-thumbnail-left item-icon-right positive" id="checklist-list-item33" ng-click="go_scanner('{{ caso.id_reclamo }}','{{ list.id }}','{{ caso.tipo_poliza }}','{{ list.ayuda }}')">
                <img src="{{ list.img }}">  
                <h2positive>{{ list.titulo }}
                    <p style="white-space:normal;"> {{ list.descripcion }} <br><small>{{ list.subdescripcion }}</small></p>
                    <i class="icon ion-camera"></i>
                  </h2positive>
                </ion-item>
    
                <div ng-repeat="doc in documents track by $index">
                    <div id="checklist-list-item40" >
        
                      <ion-item ng-if=" doc.listcheking == list.id " class="balanced">
                          <i class="icon ion-android-checkbox"></i>Completado
                        <i class="item-icon-left item-icon-right assertive"></i>
                      </ion-item>
                      
                    </div>
                </div>
                <ion-item class="item-divider" id="checklist-list-item-divider8" ng-click="aviso('{{ caso.id_reclamo }}','{{ caso.tipo_poliza }}','{{ list.ayuda }}')"> <span style="float:right;color:#387ef5" class="icon ion-help-circled"></span> </ion-item>    
          </div>
          <!-- ENDIF la lista pertenece a camara -->

          <!-- IF la lista pertenece a audio -->
          <div ng-if=" list.tipo == 'audio' ">      
              <ion-item class="item-thumbnail-left item-icon-right positive" id="checklist-list-item33" ng-click="go_record('{{ caso.id_reclamo }}','{{ list.id }}','{{ caso.tipo_poliza }}','{{ list.ayuda }}')">
                  <img src="{{ list.img }}">    
                <h2positive>{{ list.titulo }}
                    <p style="white-space:normal;"> {{ list.descripcion }} <br><small>{{ list.subdescripcion }}</small></p>
                    <i class="icon ion-mic-a"></i>
                  </h2positive>
                </ion-item>
    
                <div ng-repeat="doc in documents track by $index">
                    <div id="checklist-list-item40" >
        
                      <ion-item ng-if=" doc.listcheking == list.id " class="balanced">
                          <i class="icon ion-android-checkbox"></i>Completado
                        <i class="item-icon-left item-icon-right assertive"></i>
                      </ion-item>
                      
                    </div>
                </div>
                <ion-item class="item-divider" id="checklist-list-item-divider8" ng-click="aviso('{{ caso.id_reclamo }}','{{ caso.tipo_poliza }}','{{ list.ayuda }}')"> <span style="float:right;color:#387ef5" class="icon ion-help-circled"></span> </ion-item>    
          </div>
          <!-- ENDIF la lista pertenece a audio -->

      </ion-list>  
      <!-- ENDIF la lista de chequeo no es de un reclamo en especifico --> 
      <!-- IF la lista de chequeo PERTENECE a un reclamo en especifico -->    
      <ion-list ng-if=" list.reclamo == caso.id_reclamo ">

          <!-- IF la lista pertenece a camara -->
          <div ng-if=" list.tipo == 'camara' ">
              <ion-item class="item-thumbnail-left item-icon-right positive" id="checklist-list-item33" ng-click="go_scanner('{{ caso.id_reclamo }}','{{ list.id }}','{{ caso.tipo_poliza }}','{{ list.ayuda }}')">
                  <img src="{{ list.img }}">    
                <h2positive>{{ list.titulo }}
                    <p style="white-space:normal;"> {{ list.descripcion }} <br><small>{{ list.subdescripcion }}</small></p>
                    <i class="icon ion-camera"></i>
                  </h2positive>
                </ion-item>
                  
                <div ng-repeat="doc in documents track by $index">
                    <div id="checklist-list-item40" >
        
                      <ion-item ng-if=" doc.listcheking == list.id " class="balanced">
                          <i class="icon ion-android-checkbox"></i>Completado
                        <i class="item-icon-left item-icon-right assertive"></i>
                      </ion-item>
                      
                    </div>
                </div>
      
                <ion-item class="item-divider" id="checklist-list-item-divider8" ng-click="aviso('{{ caso.id_reclamo }}','{{ caso.tipo_poliza }}','{{ list.ayuda }}')"> <span style="float:right;color:#387ef5" class="icon ion-help-circled"></span> </ion-item>      
          </div>
          <!-- ENDIF la lista pertenece a camara -->
          

          <!-- IF la lista pertenece a audio -->
          <div ng-if=" list.tipo == 'audio' ">
              <ion-item class="item-thumbnail-left item-icon-right positive" id="checklist-list-item33" ng-click="go_record('{{ caso.id_reclamo }}','{{ list.id }}','{{ caso.tipo_poliza }}','{{ list.ayuda }}')">
                  <img src="{{ list.img }}">    
                <h2positive>{{ list.titulo }}
                    <p style="white-space:normal;"> {{ list.descripcion }} <br><small>{{ list.subdescripcion }}</small></p>
                    <i class="icon ion-mic-a"></i>
                  </h2positive>
                </ion-item>
                  
                <div ng-repeat="doc in documents track by $index">
                    <div id="checklist-list-item40" >
        
                      <ion-item ng-if=" doc.listcheking == list.id " class="balanced">
                          <i class="icon ion-android-checkbox"></i>Completado
                        <i class="item-icon-left item-icon-right assertive"></i>
                      </ion-item>
                      
                    </div>
                </div>
      
                <ion-item class="item-divider" id="checklist-list-item-divider8" ng-click="aviso('{{ caso.id_reclamo }}','{{ caso.tipo_poliza }}','{{ list.ayuda }}')"> <span style="float:right;color:#387ef5" class="icon ion-help-circled"></span> </ion-item>      
          </div>
          <!-- ENDIF la lista pertenece a audio -->
          
          
      </ion-list>
      <!-- ENDIF la lista de chequeo PERTENECE a un reclamo en especifico -->  
    </ion-list>
    <!--END repeat lista de chequeo-->
    <div ng-if=" contador.habilitado == true ">
        <button id="checklist-button18" ng-click="reclamar()"  class="button button-positive button-block icon-left ion-android-checkmark-circle">RECLAMAR</button>
        <a ui-sref="menu.misReclamos()" id="checklist-button14" style="font-weight:600;" class="button button-positive button-block icon-left ion-android-checkmark-circle">REGRESAR</a>
    </div>
    <div ng-if=" contador.habilitado == false ">
        <button id="checklist-button18" ng-click="reclamarno()" style="font-weight:600;color:#AAA9A9;" class="button button-stable button-block icon-left ion-android-checkmark-circle">RECLAMAR</button>
        <a ui-sref="menu.misReclamos()" id="checklist-button14" style="font-weight:600;" class="button button-positive button-block icon-left ion-android-checkmark-circle">REGRESAR</a>
    </div>    
    
  </ion-content>
</ion-view>