<ion-view title="Enviar Mensaje" id="page20">
  <ion-content padding="true" class="has-header">
      <span class="input-label" ng-class="class" ng-bind-html="error"></span>
    <form id="enviarMensaje-form8" class="list">      
      <ion-item class="item-divider" id="enviarMensaje-list-item-divider16"> Mensaje Directo</ion-item>
      <label class="item item-input item-floating-label" id="enviarMensaje-input18">
        <span class="input-label">Mensaje:</span>
        <textarea ng-model="sendmessage.mensaje" class="form-control" placeholder="Escribe un mensaje: (0-200) caracteres " style="height: 100px;" maxlength="200"></textarea>
      </label>
      <button id="enviarMensaje-button29" class="button button-balanced button-block icon-left ion-email-unread" ng-click="send()">Enviar mensaje</button>
    </form>
  </ion-content>
</ion-view>