<ion-view title="Escanear" hide-back-button="true" cache-view="false" nav-transition="none" id="page11">
  <ion-content padding="true" class="has-header">
    <div id="escanear-markdown13" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
      </p>
    </div>
    <div style="float:left;margin-left: 10px;" ng-repeat="document in documents track by $index">
      <div style="padding: 10px;">
          <img width="150" height="200" src="{{ file.host }}{{ document.url }}" style="-webkit-box-shadow: 0px 0px 31px -3px rgba(0,0,0,0.75); -moz-box-shadow: 0px 0px 31px -3px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 31px -3px rgba(0,0,0,0.75);">
          <button id="escanear-button20" ng-click="delete('{{ document.id }}')" style="border-radius:0px 0px 0px 0px;width: 4px;position:relative;left: 65%;top:-218px;" class="button button-assertive button-block icon-left ion-android-delete"></button>
      </div>        
    </div>
    
    <button id="escanear-button10" ng-click="takePicture()" class="button button-dark button-block icon-left ion-android-camera">Tomar foto</button>
    <button id="escanear-button10" ng-click="folderFile()" class="button button-dark button-block icon-left ion-android-folder">Escoger imagen</button>
    <!--button id="escanear-button10" ng-click="send()" class="button button-dark button-block icon-left ion-android-camera">SEND foto</button-->
    <a ng-click="go_checklist()" id="escanear-button19" class="button button-positive button-block icon-left ion-checkmark">TERMINAR</a>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
        <img src="{{ imgURI }}" style="display: block; margin-left: auto; margin-right: auto;">
      </div>
    <label>En caso de ser necesario podrás subir más de una foto dando click en Tomar Foto o Escoger Imagen</label>
    <div id="check1" class="check">
              </div>
  </ion-content>
</ion-view>