<ion-view title="Grabar Audio" hide-back-button="true" cache-view="false" nav-transition="none" id="page11">
    <ion-content padding="true" class="has-header">
      <div id="escanear-markdown13" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
        </p>
      </div>
      <div style="float:left;margin-left: 10px;" ng-repeat="document in documents track by $index">
        <button class="button" ng-click="startPlay('http://192.168.1.17:8080/push_Crawford/crawford/Crawford/public/documents/doc_C_1_R_1_1_1.mp3')">Play from Internet</button> 
      </div>
      
      <button id="escanear-button10" ng-click="takePicture()" class="button button-dark button-block icon-left ion-android-camera">Grabar Audio</button>
      <button id="escanear-button10" ng-click="folderFile()" class="button button-dark button-block icon-left ion-android-folder">Escoger Audio</button>
      <!--button id="escanear-button10" ng-click="send()" class="button button-dark button-block icon-left ion-android-camera">SEND foto</button-->
      <a ng-click="go_checklist()" id="escanear-button19" class="button button-positive button-block icon-left ion-checkmark">TERMINAR</a>
      <div style="margin-left: -10px; width: calc(100% + 20px);">
          <img src="{{ imgURI }}" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
      <div id="check1" class="check">
                </div>
    </ion-content>
  </ion-view>