<ion-view title="" hide-back-button="true" cache-view="false" nav-transition="none" id="page4">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="manual-remove-top-padding has-header">
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <div>
      <img src="img/2YZlzErxRnGDPUNo4WmI_cl.png" style="display: block; width: 250px; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4 id="inicioDeSesiN-heading1" style="color:#8B8B8B;font-weight:300;text-align:center;">Acceso a tu cuenta</h4>
    <form id="inicioDeSesiN-form1" class="list">
      <ion-list id="inicioDeSesiN-list2" class="manual-list-fullwidth">
        <label class="item item-input item-floating-label" id="inicioDeSesiN-input1">
          <span class="input-label">Email</span>
          <input type="text" placeholder="Email" ng-model="data.email" ng-change="registro.email = registro.email.toLowerCase()">
        </label>
        <label class="item item-input item-floating-label" id="inicioDeSesiN-input2">
          <span class="input-label">Contraseña</span>
          <input type="password" placeholder="Contraseña" ng-model="data.password">
        </label>
      </ion-list>
      <button id="inicioDeSesiN-button1" ng-click="login()" style="border-radius:0px 0px 0px 0px;" class="button button-dark button-block">Iniciar Sesión</button>
      <h5 id="inicioDeSesiN-heading2" style="color:#797878;text-align:center;">¿No tienes cuenta?</h5>
      <a ui-sref="registrarme()" id="inicioDeSesiN-button2" style="font-size:13px;" class="button button-positive button-block button-outline">Quiero Registrarme</a>
      <h5 id="inicioDeSesiN-heading2" style="color:#797878;text-align:center;">Olvidaste tu contraseña?</h5>
      <a ng-click="go_olvido();" id="inicioDeSesiN-button2" style="font-size:13px;" class="button button-positive button-block button-outline">Recuperar Contraseña</a>
    </form>
  </ion-content>
</ion-view>