<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu81"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="right" id="side-menu81" style="background-color:#FFFFFF;">
    <ion-content padding="true" style="top:0px !important;" class="side-menu-right ">
      <div class="spacer" style="width: 268px; height: 57px;"></div>
      <div>
        <img src="img/GC4xHO9ZRKqkUdV7cWqS_cl.png" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="width: 248px; height: 47px;"></div>
      <ion-list id="menu-list1">
        <ion-item class="item-icon-left" id="menu-list-item9" ui-sref="menu.bienvenid()" menu-close="">
          <i class="icon ion-ios-home"></i>Inicio</ion-item>
        <ion-item class="item-icon-left" id="menu-list-item5" ui-sref="menu.miPerfil()" menu-close="">
          <i class="icon ion-ios-contact"></i>Mi Perfil</ion-item>
        <ion-item class="item-icon-left dark" id="menu-list-item6" ui-sref="menu.misReclamos()" menu-close="">
          <i class="icon ion-android-add-circle"></i>Reclamar</ion-item>
        <ion-item class="item-icon-left" id="menu-list-item7" ui-sref="menu.ayuda()" menu-close="">
          <i class="icon ion-help-circled"></i>Ayuda</ion-item>
      </ion-list>
      <div class="spacer" style="width: 248px; height: 28px;"></div>
      <a menu-close="" id="menu-button3" class="button button-dark button-block button-outline" ng-click="cerrarsesion();">Cerrar Sesíon</a>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>