<ion-view title="Mi Perfil" id="page10">
  <ion-content padding="true" class="has-header">
    <div id="miPerfil-container4" class="avatar">
        <center><div class="round" style="background:#474747; width:100px; height:100px;border-radius:50%;color:white;"  >
            <p style="padding-top:40px;font-size:30px;">
                {{ form.nombre[0] | uppercase }}{{ form.lastname[0] | uppercase }}
            </p>
          </div></center>
    </div>
    <div class="list card" id="miPerfil-card21">
      <ion-item class="item-icon-left positive" id="miPerfil-list-item13">
        <i class="icon ion-ios-contact-outline"></i>{{ form.nombre }} {{ form.lastname }}</ion-item>
        <label class="item item-input" id="registrarme-input3">
          <span class="input-label" ng-class="nombre" >Nombres</span>
          <input type="text" placeholder="" ng-model="form.nombre">
        </label>
        <label class="item item-input" id="registrarme-input7">
          <span class="input-label" ng-class="lastname">Apellidos</span>
          <input type="text" placeholder="" ng-model="form.lastname">
        </label>
        <label class="item item-input" id="registrarme-input4">
          <span class="input-label" ng-class="email">Email</span>
          <input type="text" placeholder="" ng-model="form.email" ng-change="form.email = form.email.toLowerCase()">
        </label>
        <label class="item item-input" id="registrarme-input9">
          <span class="input-label" ng-class="celular"># Celular</span>
          <input type="tel" placeholder="" ng-model="form.celular">
        </label>
        <div class="item item-body" id="registrarme-list-item-container5">
          <div id="registrarme-markdown7" style="text-align:center;" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#999999;font-size:11px;">DOCUMENTO DE
              <strong>IDENTIDAD</strong>
            </p>
          </div>
        </div>
        <label class="item item-input" id="registrarme-input6">
          <span class="input-label" ng-class="cedula">Num. de Cédula</span>
          <input type="text" placeholder="" ng-model="form.cedula">
        </label>
        <div class="item item-body" id="registrarme-list-item-container6">
          <div id="registrarme-markdown9" style="text-align:center;" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#999999;font-size:11px;">SEGURIDAD
              <strong>/ CLAVE</strong>
            </p>
          </div>
        </div>
        <label class="item item-input" id="registrarme-input5">
          <span class="input-label" ng-class="password">Clave</span>
          <input type="password" placeholder="" ng-model="form.password">
        </label>
    </div>
    <button id="miPerfil-button5" style="font-weight:600;" ng-click="update()" class="button button-dark button-block icon-left ion-checkmark-circled">ACTUALIZAR</button>
  </ion-content>
</ion-view>