<ion-view title="Mis Polizas" id="page23" style="background-color:#B1B1B1;">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="misPolizas-card25">
      <div class="item item-body" id="misPolizas-list-item-container11">
        <div id="misPolizas-markdown21" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Poliza
            <strong>Mobile Care Samsung S8</strong>
          </p>
        </div>
      </div>
      <ion-item class="item-icon-left item-icon-right balanced" id="misPolizas-list-item31">
        <i class="icon ion-android-checkbox"></i>Activa
        <span class="item-note">3 meses - 20/12/17</span>
        <i class="icon ion-android-lock icon-accessory"></i>
      </ion-item>
      <a ui-sref="menu.nuevoReclamo13()" id="misPolizas-button31" style="font-weight:600;border-radius:0px 0px 0px 0px;" class="button button-positive button-block icon-left ion-alert-circled">Iniciar Reclamación</a>
    </div>
    <div class="list card" id="misPolizas-card27">
      <div class="item item-body" id="misPolizas-list-item-container13">
        <div id="misPolizas-markdown28" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Poliza
            <strong>Mobile Care Samsung Note 8</strong>
          </p>
        </div>
      </div>
      <ion-item class="item-icon-left item-icon-right assertive" id="misPolizas-list-item36">
        <i class="icon ion-android-checkbox"></i>Inactiva
        <span class="item-note">3 meses - 20/04/17</span>
        <i class="icon ion-android-lock icon-accessory"></i>
      </ion-item>
    </div>
    <div id="misPolizas-container2">
      <div id="misPolizas-markdown34" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#FFFFFF;">Pólizas
          <strong>Disponibles</strong>
        </p>
      </div>
    </div>
    <div class="list card" id="misPolizas-card28">
      <div class="item item-body" id="misPolizas-list-item-container14">
        <div id="misPolizas-markdown29" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:18px;">Poliza
            <strong>Pantalal protegida</strong>
          </p>
        </div>
      </div>
      <div class="item item-body" id="misPolizas-list-item-container16">
        <div id="misPolizas-markdown33" style="text-align:justify;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#686868;font-size:13px;">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. </p>
        </div>
      </div>
      <ion-item class="item-icon-left balanced" id="misPolizas-list-item38" ui-sref="menu.pLizaPantallaProtegida()">
        <i class="icon ion-android-cart"></i>COMPRAR
        <span class="item-note">$275.000 + iva (1 año)</span>
      </ion-item>
    </div>
  </ion-content>
</ion-view>