<ion-view title="olvido contraseña" id="page9" style="background-color:#D6D6D6;">
    <ion-content padding="true" class="has-header">
      <form id="registrarme-form2" class="list">
        <ion-list id="registrarme-list3">
            <span class="input-label" ng-class="class" ng-bind-html="error"></span>
          <div class="item item-body" id="registrarme-list-item-container4">
            <div id="registrarme-markdown6" style="text-align:center;" class="show-list-numbers-and-dots">
              <p style="margin-top:0px;color:#999999;font-size:11px;">OLVIDO
                <strong>CONTRASEÑA</strong>
              </p>
            </div>
          </div>
          <label class="item item-input" id="registrarme-input4">
            <span class="input-label" ng-class="email">Email</span>
            <input type="text" placeholder="" ng-model="form.email" ng-change="form.email = form.email.toLowerCase()">
          </label>
        </ion-list>
        <button id="registrarme-button4" ng-click="send()" style="font-weight:600;" class="button button-dark button-block icon-left ion-checkmark-circled">Recuperar</button>
      </form>
    </ion-content>
  </ion-view>