<ion-view title="PAGO PAYU " id="page26">
  <ion-content padding="true" class="has-header">
    <form id="pAGOPAYU-form11" class="list">
      <label class="item item-input" id="pAGOPAYU-input22">
        <span class="input-label">Nombre asegurado</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="pAGOPAYU-input23">
        <span class="input-label">
          <h3>Fecha de nacimiento</h3>
        </span>
        <input type="date" placeholder="">
      </label>
      <ion-toggle toggle-class="toggle-positive" ng-checked="true" id="pAGOPAYU-toggle11">
        <h3>Terminos y condiciones</h3>
      </ion-toggle>
    </form>
    <form id="pAGOPAYU-form12" class="list">
      <label class="item item-select" id="pAGOPAYU-select12">
        <span class="input-label">Tarjeta </span>
        <select>
          <option>Visa</option>
          <option>Mastercard</option>
          <option></option>
        </select>
      </label>
      <label class="item item-input" id="pAGOPAYU-input24">
        <span class="input-label">Número</span>
        <input type="tel" placeholder="">
      </label>
      <label class="item item-input" id="pAGOPAYU-input25">
        <span class="input-label">
          <h3>Fechade venciemiento</h3>
        </span>
        <input type="date" placeholder="">
      </label>
      <label class="item item-input" id="pAGOPAYU-input26">
        <span class="input-label">Código de verificacion</span>
        <input type="tel" placeholder="">
      </label>
    </form>
    <a ui-sref="menu.misPolizas()" id="pAGOPAYU-button35" class="button button-balanced button-block icon-left ion-android-cart">Pagar</a>
  </ion-content>
</ion-view>