<ion-view title="Preguntas Frecuentes" id="page19">
  <ion-content padding="true" class="has-header">
    <ion-list id="preguntasFrecuentes-list10">

        <h4 style="color: #444444">• ¿Cuáles son los Beneficios?</h4>
        <div class="card" id="preguntasFrecuentes-list-item-divider9" style="padding: 20px;left: 0px;top: 0px;height: 100;text-align: justify;"> Buscamos la tranquilidad y protección de tu patrimonio frente a 
            posibles daños o hurto de tu equipo celular adquirido. Facilidades de adquisición. Bajo costo del seguro. Facilidades de pago.
        </div>
       
        <h4 style="color: #444444">• Si hay Beneficiarios ¿Quiénes son?</h4>
        <div class="card" id="preguntasFrecuentes-list-item-divider9" style="padding: 20px;left: 0px;top: 0px;height: 100;text-align: justify;"> El Beneficiario de esta póliza es el propietario del bien 
          asegurado.
        </div>

        <h4 style="color: #444444">• Coberturas y/o Amparos que aplicarán según se defina en la póliza.</h4>
        <div class="card" id="preguntasFrecuentes-list-item-divider9" style="padding: 20px;left: 0px;top: 0px;height: 100;text-align: justify;"> Pérdidas Totales por 
          Daños Accidentales: Amparamos los daños accidentales a causa de cambios de voltaje, daños por agua o daños accidentales originados por cualquier causa, 
          excepto las excluidas en el clausulado que haya sido entregado al momento de tomar el seguro y que tengan como consecuencia el reemplazo del equipo asegurado.<br> 
          <br>Pérdidas Parciales por Daños Accidentales: <br>Cubrimos las reparaciones originadas en daños accidentales que sean consecuencia de cambios de voltaje, daños por 
          agua o daños accidentales por cualquier causa, excepto las excluidas en el clausulado que haya sido entregado al momento de tomar el seguro. <br><br>
          Hurto Calificado:<br> Hace referencia al hurto en el que haya sido ejercida violencia sobre las cosas y puesto a la víctima en condiciones de 
          indefensión e inferioridad para aprovecharse de su situación, o en el que haya habido penetración o permanencia arbitraria, engañosa o clandestina 
          en un lugar habitado o sus dependencias inmediatas, etc.<br><br>
          Pérdidas Totales por Daños Accidentales:<br> Amparamos los daños accidentales a causa de cambios de voltaje, daños por agua o daños accidentales originados por 
          cualquier causa, excepto las excluidas en el clausulado que haya sido entregado al momento de tomar el seguro y que tengan como consecuencia el reemplazo 
          del equipo asegurado.<br><br> Pérdidas Parciales por Daños Accidentales: <br>Cubrimos las reparaciones originadas en daños accidentales que sean consecuencia de cambios 
          de voltaje, daños por agua o daños accidentales por cualquier causa, excepto las excluidas en el clausulado que haya sido entregado al momento de tomar 
          el seguro. <br><br>Hurto Calificado:<br> Hace referencia al hurto en el que haya sido ejercida violencia sobre las cosas y puesto a la víctima en condiciones de
           indefensión e inferioridad para aprovecharse de su situación, o en el que haya habido penetración o permanencia arbitraria, engañosa o clandestina en un 
           lugar habitado o sus dependencias inmediatas, etc.
          
        </div>
        
        <h4 style="color: #444444">• Deducible</h4>
        <div class="card" id="preguntasFrecuentes-list-item-divider9" style="padding: 20px;left: 0px;top: 0px;height: 100;text-align: justify;"> Será del 15% para 
          todos los amparos, para equipos hasta $1.800.000. Para equipos cuyo valor sea superior a $1.800.000 el deducible para todos los amparos será del 20%.
            
        </div>
        
        <h4 style="color: #444444">• Terminación</h4>
        <div class="card" id="preguntasFrecuentes-list-item-divider9" style="padding: 20px;left: 0px;top: 0px;height: 100;text-align: justify;"> Esta póliza podrá darse
           por terminada en cualquier momento que desees o por mora en el pago de la prima.
            
        </div>
        
        <h4 style="color: #444444">• ¿Qué hacer en caso de siniestro?</h4>
        <div class="card" id="preguntasFrecuentes-list-item-divider9" style="padding: 20px;left: 0px;top: 0px;height: 100;text-align: justify;"> Seguir el instructivo 
          de la aplicación o Te debes comunicar a la Línea Nacional 018000 111935 y en Bogotá al 3274712 o 3274713 marcando la opción 1 y luego la opción 3 y dar aviso 
          de lo sucedido, en éstas te indicarán los pasos a seguir.
            
        </div>
        
        <h4 style="color: #444444">• ¿Qué documentos debo aportar para reclamar?</h4>
        <div class="card" id="preguntasFrecuentes-list-item-divider9" style="padding: 20px;left: 0px;top: 0px;height: 100;text-align: justify;"> Formato de reclamación,
           Factura de Compra, Copia del Documento de Identidad, Denuncio ante autoridad competente (en caso de Hurto Calificado) o diagnostico en caso de Daños.
            
        </div>
         
        <h4 style="color: #444444">• ¿Qué tiempo tardan en atender mi reclamación?</h4>
        <div class="card" id="preguntasFrecuentes-list-item-divider9" style="padding: 20px;left: 0px;top: 0px;height: 100;text-align: justify;"> En el contrato de 
          seguro la ley establece un término para que la aseguradora cancele la indemnización a la cual tiene derecho el asegurado (beneficiario) 
          cuando ocurre el siniestro, dentro del mes siguiente, al día en que el asegurado demuestre la ocurrencia del siniestro, al igual que la cuantía de la 
          perdida, es decir, que la carga de la prueba le corresponde al asegurado (beneficiario).
            
        </div>
        
        <h4 style="color: #444444">• ¿En caso de ser positiva mi reclamación por daño total o por hurto, qué bien me será entregado?</h4>
        <div class="card" id="preguntasFrecuentes-list-item-divider9" style="padding: 20px;left: 0px;top: 0px;height: 100;text-align: justify;"> Se efectuara 
          mediante la reposición con base en los siguientes parámetros: <br><br> Se entregara un equipo móvil de telefonía celular nuevo que cuente con características 
          iguales o similares al equipo móvil celular en cuanto a especificaciones técnicas, tecnológicas y funcionales <br><br> Si no se cuenta con existencias 
          disponibles, la compañía validara la posibilidad de ofrecer al asegurado la indemnización hasta el valor comercial menos el deducible para la compra 
          de un equipo de características diferentes al asegurado. <br><br> Para todos los casos, será potestad de la compañía decidir si el pago de la indemnización se 
          hará mediante la reposición del equipo, en dinero o como un abono para la compra de un equipo móvil celular de características diferentes.
            
        </div>
        
        <h4 style="color: #444444">• ¿Es válido el denuncio ante página web?</h4>
        <div class="card" id="preguntasFrecuentes-list-item-divider9" style="padding: 20px;left: 0px;top: 0px;height: 100;text-align: justify;"> No es válido, 
          el denuncio siempre se tiene que hacer ante una entidad competente (Fiscalía y policía)
            
        </div>
        
        <h4 style="color: #444444">• ¿El imei del equipo móvil tiene que aparecer en el denuncio?</h4>
        <div class="card" id="preguntasFrecuentes-list-item-divider9" style="padding: 20px;left: 0px;top: 0px;height: 100;text-align: justify;"> Siempre es necesario
           que el imei del equipo móvil este en el denuncio, adicional el imei debe encontrarse bloqueado.
            
        </div>
        
        <h4 style="color: #444444">• ¿Cómo desisto de la reclamación?</h4>
        <div class="card" id="preguntasFrecuentes-list-item-divider9" style="padding: 20px;left: 0px;top: 0px;height: 100;text-align: justify;"> Debe enviar una carta
           formal solicitando el desistimiento al correo tuequipomovilseguro@segurosmundial.com.co
            
        </div>
        
        <h4 style="color: #444444">• ¿En caso de daño al realizar el diagnóstico del equipo se pierde la garantía?</h4>
        <div class="card" id="preguntasFrecuentes-list-item-divider9" style="padding: 20px;left: 0px;top: 0px;height: 100;text-align: justify;"> Si, se perderá la 
          garantía, adicional el equipo se formateara por eso antes de entregarlo al centro de diagnóstico autorizado, se deben realizar un back up de la 
          información.
            
        </div>
        
        <h4 style="color: #444444">• ¿Quién debe figurar en los documentos de reclamación?</h4>
        <div class="card" id="preguntasFrecuentes-list-item-divider9" style="padding: 20px;left: 0px;top: 0px;height: 100;text-align: justify;"> Siempre debe figurar la
          persona que aparece en la póliza, teniendo en cuenta que es la persona que tiene el derecho a reclamar.
            
        </div>
        
    </ion-list>
  </ion-content>
</ion-view>