<ion-view title="Quiero que me llamen" id="page21">
  <ion-content padding="true" class="has-header">
    <form id="quieroQuEmeLlamen-form9" class="list">
        <span class="input-label" ng-class="class" ng-bind-html="error"></span>
      <ion-item class="item-divider" id="quieroQuEmeLlamen-list-item-divider17"> Programa tu llamada</ion-item>
      <!--ion-toggle toggle-class="toggle-positive" ng-checked="true" id="quieroQuEmeLlamen-toggle6">Quiero que me llamen</ion-toggle-->
      <label class="item item-input" id="quieroQuEmeLlamen-input16">
        <span class="input-label"># Celular</span>
        <input type="tel" ng-model="sendmessage.telefono" placeholder="" maxlength="10">
      </label>
      <label class="item item-select" id="quieroQuEmeLlamen-input16">
        <span class="input-label"> Franja Horaria</span>
        <select class="form-control" ng-model="sendmessage.franja" id="quieroQuEmeLlamen-input18">
          <option value="">Franja Horaria</option>
          <option value="6am-9am">6 AM a 9 AM</option>
          <option value="9am-12pm">9 AM a 12 PM</option>
          <option value="12pm-3pm">12 PM a 3 PM</option>
          <option value="3PM-6PM">3 PM a 6 PM</option>
        </select>
      </label>
      <label class="item item-select" id="quieroQuEmeLlamen-input16">
        <span class="input-label"> Día Semana</span>
        <select class="form-control" ng-model="sendmessage.diasemana" id="quieroQuEmeLlamen-input18">
          <option value="">Día Semana</option>
          <option value="LUNES">LUNES</option>
          <option value="MARTES">MARTES</option>
          <option value="MIERCOLES">MIERCOLES</option>
          <option value="JUEVES">JUEVES</option>
          <option value="VIERNES">VIERNES</option>
        </select>
      </label>
      <button id="quieroQuEmeLlamen-button28" class="button button-balanced button-block icon-left ion-android-call" ng-click="send()">¡Llamame!</button>
    </form>
  </ion-content>
</ion-view>