<!--ion-view title="Record Audio" hide-back-button="true" cache-view="false" nav-transition="none" id="page11">
    <ion-content padding="true" class="has-header">
      
      <a ng-click="stopRecording()" id="escanear-button19"
         class="button button-positive button-block icon-left ion-checkmark" ng-disabled="!is_recording && !is_playing">Stop</a>
      <a ng-click="playRecording()" id="escanear-button19"
         class="button button-positive button-block icon-left ion-checkmark" ng-disabled="is_recording">Play</a>
      <a ng-click="saveAudio()" id="escanear-button19"
         class="button button-positive button-block icon-left ion-checkmark" ng-disabled="is_recording || is_playing">Save</a>
      <a ng-click="cancelAudio()" id="escanear-button19" class="button button-positive button-block icon-left ion-checkmark">Cancel</a>

    </ion-content>
  </ion-view-->

  <ion-view title="Grabar" hide-back-button="true" cache-view="false" nav-transition="none" id="page11">
    <ion-content padding="true" class="has-header">
      
      <center><img style="width: 50%" src="img/recording.svg"></center>
      <div style="float:left;width: 100%;">
        <div ng-click="stopRecording()" style="float:left;padding:5px;width: 33%;" ><button class="button button-light button-block" ng-disabled="!is_recording && !is_playing"><img src="img/stop_1.svg"><label style="position: relative;top:-30px;" >Parar</label></button></div>
        <div ng-click="playRecording()" style="float:left;padding:5px;width: 33%;" ><button class="button button-light button-block" ng-disabled="is_recording"><img src="img/play_1.svg"><label style="position: relative;top:-30px;" >Reproducir</label></button></div>
        <div ng-click="saveAudio()" style="float:left;padding:5px;width: 33%;" ><button class="button button-light button-block" ng-disabled="is_recording || is_playing"><img src="img/save_1.svg"><label style="position: relative;top:-30px;" >Guardar</label></button></div>
      </div>      
      <a ng-click="cancelAudio()" id="escanear-button19" class="button button-dark button-block">Cancelar</a>
    </ion-content>
  </ion-view>

