<ion-view title="Registrarme" id="page9" style="background-color:#D6D6D6;">
  <ion-content padding="true" class="has-header">
    <form id="registrarme-form2" class="list">
      <ion-list id="registrarme-list3">
          <span class="input-label" ng-class="class" ng-bind-html="error"></span>
        <div class="item item-body" id="registrarme-list-item-container4">
          <div id="registrarme-markdown6" style="text-align:center;" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#999999;font-size:11px;">INFORMACIÓN
              <strong>PERSONAL</strong>
            </p>
          </div>
        </div>
        <label class="item item-input" id="registrarme-input3">
          <span class="input-label" ng-class="nombre" >Nombres</span>
          <input type="text" placeholder="" ng-model="registro.nombre">
        </label>
        <label class="item item-input" id="registrarme-input7">
          <span class="input-label" ng-class="lastname">Apellidos</span>
          <input type="text" placeholder="" ng-model="registro.lastname">
        </label>
        <label class="item item-input" id="registrarme-input10">
          <span class="input-label" ng-class="fechanacimiento">F. Nacimiento</span>
          <input type="date" placeholder="" ng-model="registro.fechanacimiento" >
        </label>
        <label class="item item-input" id="registrarme-input4">
          <span class="input-label" ng-class="email">Email</span>
          <input type="text" placeholder="" ng-model="registro.email" ng-change="registro.email = registro.email.toLowerCase()">
        </label>
        <label class="item item-input" id="registrarme-input9">
          <span class="input-label" ng-class="celular"># Celular</span>
          <input type="tel" placeholder="" ng-model="registro.celular">
        </label>
        <div class="item item-body" id="registrarme-list-item-container5">
          <div id="registrarme-markdown7" style="text-align:center;" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#999999;font-size:11px;">DOCUMENTO DE
              <strong>IDENTIDAD</strong>
            </p>
          </div>
        </div>
        <label class="item item-input" id="registrarme-input6">
          <span class="input-label" ng-class="cedula">Num. de Cédula</span>
          <input type="number" placeholder="" ng-model="registro.cedula">
        </label>
        <label class="item item-input" id="registrarme-input11">
          <span class="input-label" ng-class="fechaCC">F. Expedicion </span>
          <input type="date" placeholder="" ng-model="registro.fechaCC">
        </label>
        <div class="item item-body" id="registrarme-list-item-container6">
          <div id="registrarme-markdown9" style="text-align:center;" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#999999;font-size:11px;">SEGURIDAD
              <strong>/ CLAVE</strong>
            </p>
          </div>
        </div>
        <label class="item item-input" id="registrarme-input5">
          <span class="input-label" ng-class="password">Clave</span>
          <input type="password" placeholder="" ng-model="registro.password">
        </label>
        <label class="item item-input" id="registrarme-input12">
          <span class="input-label" ng-class="password2">Confirmar Clave</span>
          <input type="password" placeholder="" ng-model="registro.password2">
        </label>
        <div ng-click="terminos()">
            <ion-toggle toggle-class="toggle-positive"  ng-checked="{{registro.autoriza}}" id="registrarme-toggle3" ng-model="registro.autoriza">
                <h5 ng-class="autoriza">Acepto Términos y Condiciones</h5>
              </ion-toggle>
        </div>        
      </ion-list>
      <button id="registrarme-button4" ng-click="update_register()" style="font-weight:600;" class="button button-dark button-block icon-left ion-checkmark-circled">Registrarme</button>
    </form>
  </ion-content>
</ion-view>