<ion-view title="Terminos y condiciones" hide-back-button="true" nav-transition="none" id="page5" style="background-color:#E4E4E4;">
    <ion-content padding="true" class="has-header">
       <ion-list>
            <div style="background: white;-webkit-box-shadow: 0px 0px 34px -6px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 34px -6px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 34px -6px rgba(0,0,0,0.75);border-radius: 10px 10px 10px 10px;
            -moz-border-radius: 10px 10px 10px 10px;
            -webkit-border-radius: 10px 10px 10px 10px;
            border: 0px solid #000000;margin: 10px;padding: 30px;text-align: justify">
            
            <h4> LEGAL Y DE PRIVACIDAD</h4>
            <br>Esta página contiene los Términos y Condiciones y la Política de Privacidad de Crawford & Company y sus subsidiarias.  
            <br><h4>TÉRMINOS Y CONDICIONES</h4> 
            Esta sección establece los términos y condiciones bajo las cuales Crawford proporciona la información en este sitio web, 
            así como los términos y condiciones que rigen el uso y la información que nos proporciona.<br> <br>
            Al usar este sitio usted ha aceptado estos términos y condiciones indicadas a continuación, así como todas las leyes 
            aplicables que pueden regir el uso de Internet.  <br> <br>
            Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento, por lo que debe comprobar 
            estos términos y condiciones periódicamente ante posibles cambios. <br> <br>
            Al utilizar este sitio después de publicar cualquier cambio en estos términos y condiciones, usted acepta esos 
            cambios los haya revisado o no. <br> <br>
            Si en algún momento usted decide no aceptar estos términos y condiciones de uso, por favor no utilice este sitio. <br> <br>
            El uso adicional de estas páginas constituye el consentimiento y aceptación:  <br> <br>
            <h4>RESTRICCIONES EN EL USO DE LOS MATERIALES</h4>  El uso no autorizado de los contenidos puede violar los derechos de autor, 
            marcas registradas y otras leyes. <br> <br>
            Usted debe retener todos los derechos de autor y otros avisos de propiedad que lleven los contenidos en cualquier copia 
            que haga de cualquier porción del contenido. <br> <br>
            Usted no puede vender o modificar cualquier parte de los contenidos, así como reproducir, mostrar, distribuir o utilizar 
            los contenidos para cualquier propósito público o comercial. <br> <br>
            Es posible citar o referirse a información en este sitio y hacer copias de la información para su propio uso personal, pero eso es todo. <br> <br>
            Para distribuir copias de la información a otros debe contar con nuestra autorización, para solicitar dicha autorización 
            envíe un mensaje por correo electrónico a: <strong>jbenavides@crawfordaffinity.com </strong>o ponerse en contacto con nosotros por 
            correo certificado a la dirección <strong>Calle 72 # 10 – 70 Torre A, Oficina 502 Bogotá - Colombia</strong><br> <br>
              <h4>PRECISIÓN DE LA INFORMACIÓN EN EL SITIO</h4><br> <br> Aunque Crawford busca proporcionar información precisa y actualizada en este sitio, 
              no podemos asegurar que este sea el caso. <br> <br>
              No hacemos ninguna representación sobre la exactitud, fiabilidad, integridad o actualidad de los contenidos del sitio que no 
              brindan ninguna garantía expresa o implícita, por el contenido o exactitud de la información del sitio. <br> <br>
              Es su responsabilidad evaluar la exactitud, integridad o utilidad de los contenidos que figuran en este documento. <br> <br>
              Si tiene alguna pregunta sobre el contenido de la web, enviar un mensaje por correo electrónico a la dirección de correo mencionada 
              en el párrafo anterior. <br> <br>
              <h4>SIN ASESORAMIENTO PROFESIONAL</h4><br> <br>
               La información proporcionada en el sitio se distribuye con el entendimiento de que Crawford no está prestando asesoramiento 
               profesional de ningún tipo. <br> <br>
               El contenido de este sitio no puede reemplazar o sustituir a los servicios de profesionales capacitados en cualquier campo. <br> <br>
               Si usted tiene una pregunta o un problema que requiere consulta profesional en relación con la ley, seguro, impuesto, 
               planificación financiera o cualquier otra área, usted debe consultar a un profesional en el área respectiva. <br> <br>
               Su confianza en la información contenida en este documento es bajo su riesgo.  <br> <br>
               <h4>FUNCIONAMIENTO DEL SITIO</h4><br> <br>
                No se da ninguna representación o garantía de que cualquiera de las funciones contenidas en el sitio serán 
                ininterrumpidas, libre de errores, libre de virus, libre de componentes nocivos, o que cualquier defecto será corregido.  <br> <br>
            <h4>ENLACES</h4> Este sitio puede contener enlaces a sitios web propiedad, operados o mantenidos por terceros distintos de los Crawford. <br> <br>
            Dichos enlaces se proporcionan únicamente para su referencia. <br> <br>
            Crawford no controla los sitios web externos y no se hace responsable de su contenido. <br> <br>
            La inclusión de enlaces a un sitio web externo por parte de Crawford no implica la aprobación del material en el sitio a menos que 
            se da a conocer expresamente lo contrario. Cualquier patrocinio, afiliación o asociación con su propietario, operador o patrocinador. 
            Si usted tiene alguna duda sobre estos sitios web, debe dirigirse a  los autores de estos sitios.  Si desea proporcionar un enlace de 
            hipertexto de su sitio web a nuestro sitio debe solicitar nuestro permiso antes de hacerlo. <br> <br>
            Para solicitar dicha autorización debe enviar un correo electrónico o una carta a la dirección indicada en el apartado 
            "Restricciones en el uso de los materiales". Por favor incluya en su nota: nombre, dirección, número de teléfono, una descripción de su 
            sitio web y las razones por las que le gustaría establecer un enlace a nuestro sitio. <br> <br>
            Revisaremos su sitio web antes de conceder el permiso, si este es concedido nos reservamos el derecho de retirar nuestra autorización 
            para vincular a nuestro sitio en cualquier momento.  <br> <br>
            <h4>INDEMNIDAD</h4> Usted acepta defender, indemnizar y eximir a Crawford de sus representantes, funcionarios, directores y empleados, 
            agentes y cesionarios  de toda responsabilidad, demanda, costos y gastos. Incluyendo honorarios de abogados que surjan de su uso del 
            sitio, su fijación, descarga o transmisión de comunicaciones o material en este sitio, o de su violación de cualquier ley aplicable.<br> <br>
            <h4>LIMITACIÓN DE RESPONSABILIDAD BAJO NINGUNA CIRCUNSTANCIA CRAWFORD </h4><br> <br>
            o cualquiera de sus agentes, empleados, directores, funcionarios, SUBSIDIARIAS O EMPRESAS AFILIADAS  SERÁN RESPONSABLES POR CUALQUIER DAÑO, 
            INCLUYENDO, PERO SIN LIMITARSE A CUALQUIER DAÑO DIRECTO REAL, ESPECIAL O CONSECUENTE QUE RESULTE DE (1) SU USO O SU INCAPACIDAD DE 
            USAR ESTE SITIO O CUALQUIER SITIO ENLAZADO (2) DE LOS CONTENIDOS QUE SE ENCUENTRAN EN ESTE SITIO O EN CUALQUIER SITIO VINCULADO  
            (3) CUALQUIER VIRUS, CÓDIGO MALIGNO U OTROS EFECTOS NOCIVOS QUE PUEDEN RESULTAR A LOS USUARIOS DE ESTE SITIO O CUALQUIER SITIO ENLAZADO 
            O (4) DIVULGACIÓN DE SU INFORMACIÓN IDENTIFICABLE PERSONAL QUE PUEDA OCURRIR SOBRE INTERNET DESDE SU USO DE ESTE SITIO O CUALQUIER 
            SITIO VINCULADO O (5) DE CUALQUIER OTRA CAUSA COMO RESULTADO DEL USO DE ESTE SITIO O DE CUALQUIER SITIO ENLAZADO, AUN CUANDO CRAWFORD 
            ES AVISADO DE LA POSIBILIDAD DE TALES DAÑOS.  
            <br> <br><h4>PAGINAS CON ACCESO RESTRINGIDO</h4> Algunas de las páginas de este sitio web están restringidas sólo a usuarios autorizados. <br> <br>
            El uso no autorizado o el acceso a estas páginas está estrictamente prohibido y puede estar sujeto a acciones administrativas y/o penales 
            y la revocación del acceso. Crawford puede monitorear y registrar su uso de estas páginas. La evidencia recogida durante su uso, 
            la vigilancia o grabación pueden ser utilizadas para acciones administrativas y/o penales. <br> <br>
            El uso posterior de estas páginas constituye el consentimiento para monitoreo y registro.  
            <br> <br><h4>LICENCIAS DE SOFTWARE </h4><br> <br>
            Usted reconoce que cualquier software disponible o proporcionado en este sitio web puede contener tecnología sujeta a estrictos 
            controles por varias agencias del gobierno de los Estados Unidos. Usted acepta no transferir o exportar este tipo de software de 
            los Estados Unidos, excepto de acuerdo con las leyes y regulaciones de exportación de Estados Unidos. Crawford no autoriza la descarga o
             exportación de cualquier software o datos técnicos de este sitio web a cualquier jurisdicción prohibida por las leyes y regulaciones
              aplicables.   <br> <br>
            <h4>TERMINACIÓN</h4><br> <br>
             Usted reconoce y acepta que Crawford puede terminar o no permitir el acceso a todos o parte de los servicios, productos o materiales
              disponibles en este sitio web sin previo aviso si usted realiza alguna conducta o actividades que Crawford, a su sola discreción, c
              ree que viole cualquiera de estos términos y condiciones, o cualquier otra norma, regulación o ley aplicable. <br> <br>
              Ni Crawford ni ninguno de sus funcionarios, agentes o empleados serán responsables ante usted en el caso de dicha terminación. <br> <br>
            <h4>GENERAL</h4><br> <br> Este Acuerdo constituye el acuerdo completo entre usted y Crawford relacionada con este sitio y 
            reemplaza cualquier y todos los demás acuerdos, ya sean orales o por escrito. 
            El incumplimiento de Crawford de insistir en el estricto cumplimiento de cualquiera de los términos del 
            acuerdo no se interpretará como una renuncia Con respecto a cualquier incumplimiento posterior de tal término o disposición. 
            Este Acuerdo es personal y no podrá ser cedido por usted, aunque Crawford puede asignar a cualquier sucesor en interés. <br> <br>
            Si alguna disposición de este acuerdo es inválida o inaplicable en virtud de una ley, las disposiciones restantes continuarán en pleno vigor 
            y efecto y la disposición inválida o no exigible se interpretará lo más cerca posible a su intención original. 
            Este acuerdo se rige por las leyes de los Estados Unidos y el Estado de Georgia como si  el acuerdo llevados a cabo totalmente 
            dentro de Georgia. Usted acepta que cualquier incumplimiento de este acuerdo puede resultar en un daño irreparable a Crawford,
             lo que le da derecho a Crawford de compensación equitativa. Cualquier consulta o duda con respecto a los términos y condiciones 
             de este acuerdo deben dirigirse por correo electrónico o carta a la dirección mencionada en la Sección 1.  AVISO DE PRIVACIDAD 
             Crawford respeta y valora la privacidad de la información personal identificable ("PII"). <br> <br>
             En consecuencia, Crawford ha adoptado una política de privacidad que rigen las prácticas de privacidad en nuestras 
             operaciones comerciales y para nuestros sitios web. Nuestras operaciones comerciales y sitios no están dirigidos a menores de 18 años. 
             El propósito de este Aviso de Privacidad es dar a conocer las prácticas de privacidad de Crawford.  RECOLECCIÓN DE INFORMACIÓN I. 
             Información de identificación personal Recolectamos información de identificación personal según sea necesario para operar nuestro
              negocio, incluyendo, pero no limitando a los siguientes:  La información que recibimos relacionada con el manejo de reclamaciones, 
            como la ocupación del reclamante, el empleador, la seguridad social, número de licencia de conducir, información de salud protegida (“PHI”), 
            información financiera.

            </div>
        </ion-list>
       <button id="registrarme-button4" ng-click="aceptar()" style="font-weight:600;" class="button button-dark button-block icon-left ion-checkmark-circled">Aceptar Terminos y Condiciones</button>
    </ion-content>
</ion-view>